<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Landmarks</h1>
    <ul>
      <% @landmarks.each do |landmark| %>
        <li><%= landmark.name %></li>
          <br><%= landmark.figure.name %></br>
          <br><%= landmark.year_completed %></br>
      <% end %>
    </ul>
  </body>
</html>
