<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/landmarks" method="post">

      <input type="text" name="landmark[name]" value="" id="landmark_name">
      <input type="text" name="landmark[year_completed]" value="" id="landmark_year_completed">
      <input type="submit" value="Create New Landmark">
    </form>
  </body>
</html>
