<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Figures</h1>
    <ul>
      <% @figures.each do |figure| %>
        <li><%= figure.name %></li>
      <% end %>
    </ul>
  </body>
</html>
